nameOverride: cart-podinfo

service:
  enabled: true
  type: NodePort
  httpPort: 9898
  grpcPort: 9999
  metricsPort: 9797
  nodePort: 30080
  grpcNodePort: 32644

podAnnotations:
  k8s.grafana.com/scrape: "true"
  k8s.grafana.com/metrics.portNumber: "9898"
  k8s.grafana.com/metrics.path: "/metrics"

extraEnvs:
  # This actually turns on tracing in podinfo
  - name: PODINFO_OTEL_EXPORTER
    value: otlp

  # Standard OTEL config for where to send spans
  - name: OTEL_EXPORTER_OTLP_ENDPOINT
    value: http://grafana-k8s-monitoring-alloy-receiver.grafana-agent.svc.cluster.local:4317
  - name: OTEL_EXPORTER_OTLP_PROTOCOL
    value: grpc
  - name: OTEL_SERVICE_NAME
    value: cart-podinfo
  - name: OTEL_RESOURCE_ATTRIBUTES
    value: service.name=cart-podinfo,service.namespace=ensemble-web
  - name: OTEL_TRACES_SAMPLER
    value: parentbased_traceidratio
  - name: OTEL_TRACES_SAMPLER_ARG
    value: "1.0"
