nameOverride: cart-podinfo

service:
  enabled: true
  type: NodePort
  httpPort: 9898
  grpcPort: 9999
  metricsPort: 9797
  nodePort: 30080
  grpcNodePort: 32644

podAnnotations:
  k8s.grafana.com/scrape: "true"
  k8s.grafana.com/metrics.portNumber: "9898"
  k8s.grafana.com/metrics.path: "/metrics"
